/* namu_main.css */
 
  @import url('./namu/namu_wrap.css');
  @import url('./namu/namu_headBox.css');
  @import url('./namu/namu_viewBox.css');
  @import url('./namu/namu_conBox.css');
  @import url('./namu/namu_footBox.css');



@media (max-width:1440px){
  #conBox{max-height:100%;}
  .con_menu_area {
    padding: 3.4722222222222223vw; 
  }
}

@media (max-width:640px){
  #headBox{ width: 100%; }
  #viewBox{ height:50vh; }
  h1 {margin-left: 30px;}
  #conBox{height: auto;}
  

  .move_area { float: none; width: 100%; height: auto;}
  .about_area { float: none; width: 100%; padding: 25% 0;}

  #con_menu_box {height: auto; max-height: 100%;}
  .con_menu_area {
    padding: 4.8828125vw; 
    height: auto;
  }
  .con_menu_text{ float: none; width: 100%; height: auto; text-align: center;
    margin-top: 0;}
  .con_menu_text a { margin:3% auto; }
  .con_menu_img {float: none; width: 100%; height: auto; text-align: center;}
  .con_menu_img img{ width: 90%; max-width: 100%; height: 100%; }


  /* ----모바일 네비게이션----- */
  #navBox{ float: right; width:60px; height:60px;  margin-top:30px; margin-right:30px;}
.menu_btn {display: block; position: relative; z-index:500;}
.menu_btn, .menu_btn > button{ 
  width: 100%; height: 100%;}

  .menu_btn i { 
    display: block; position: absolute;
    top: 0; bottom: 0; left: 0; right: 0; margin: auto;
    width: 100%; height: 4px; background-color: #333;
    border-radius: 50px; opacity: 1; transition: all 300ms ease;
  }

  .line_02 { transform: translateY(-20px);}
  .line_03 { transform: translateY(20px);}

.menu_btn.on .line_01 {opacity: 0;}
.menu_btn.on .line_02 {transform: translateY(0) scaleX(1.3)rotate(50deg);}
.menu_btn.on .line_03 {transform: translateY(0) scaleX(1.3)rotate(-50deg);}

#navBox ul {display: none; position: fixed; top: 30px; right: 0; z-index:-10;
  width: 100%; height: 100%; background-color: rgba(0,0,0,0.8);
  padding:3rem 2rem; padding-top: 5rem; box-sizing: border-box; 
  color:#fff; font-size: 2rem; }
  #navBox ul li {width:100%; min-width:260px; height:auto; margin-bottom: 0; border-bottom:1px solid #fff;}


  #navBox li{float: left; width: 25%; height:auto;}
  #navBox dl{width: 100%; height:auto;}
  #navBox dt{position:relative; width: 100%; height:116px; font-size:60px; color: #fff;}
  #navBox dt>a::after{content:""; display:block;
    position: absolute; top:40%; left:50%; transform:translate(-50%);
    width:0; height:0px; background-color: #333;
    transition: all 300ms ease; }
    #navBox dt>a:hover::after{width:60%;}
    

  #navBox dt>a{ font-size:60px; text-transform:uppercase;
    display: block; width: 100%; height: 100%; text-align: center; line-height: 116px;}
  #navBox dd{ width: 100%; height:auto; padding:16px 0;
    text-align:left; text-indent:32px; color:#fff; 
    background-color: rgba(0,0,0,0.0);}
  #navBox dd>a{display: block; 
    width: 100%; height:auto; padding:5px; margin-bottom: 5px;} 
  #navBox dd>a:hover{color: #ddd;}

  .about_area a {
    display: block; width: 40px; height: 40px; 
    margin: auto;
    border: 2px solid #fff;
    transition: all 200ms ease;
   }

   
   #cross {
    margin: auto;
    top: 50%;
    transform: translateY(-50%);
    background:  #fff;
    height: 20px;
    position: relative;
    width: 2px;
  }

  #cross:after {
    background:  #fff;
    content: "";
    height: 2px;
    left: -9px;
    position: absolute;
    top: 9px;
    width: 20px;
  }

}/* @media (max-width:1024px) */



@media (max-width:480px){
  #viewBox{ height:20vh; }
  .con_menu_area {
    padding: 20px; 
  }

}/* @media (max-width:480px) */
